@model MVC5_Seneca.EntityModels.AssociateTutor

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>
    <h3>Are you sure you want to delete this?</h3>
    <div>
        <table>
            <tr>
                <td><strong>Associate Tutor</strong></td>
                <td><strong>Student</strong></td>
            </tr>
            <tr>
                @using (Html.BeginForm())
            {
                <td>@Html.DisplayFor(model => Model.Tutor.LastName)</td>
                <td>@Html.DisplayFor(model => Model.Student.FirstName)</td>
        }
            </tr>
        </table>
        <br>

        @using (Html.BeginForm())
        {
        @Html.AntiForgeryToken()
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" />
            <br />
            <br />
            @Html.ActionLink("Back to List", "Index")
        </div>
        }
    </div>
</body>
</html>
