@model MVC5_Seneca.ViewModels.HfedEmailViewModel 

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div>
            <h4>@Html.DisplayFor(model => model.Title)</h4>
        </div>
        <div>
            <p>@Html.TextAreaFor(model => model.EmailText, 10, 30, new {style = "width:400px"})</p>
        </div>
        <div class="col-md-10">
            <input type="submit" value="SEND" class="btn" style="background-color: aqua; font-weight: bold"/>
        </div>
        <br/>
        <div>
            @Html.ActionLink("Return to Schedules", "ReturnToHfedSchedules")
        </div>
    }
</body>
</html>
